<% include ./partials/header.ejs %>

    <h1><%= title %></h1>

<main class="container">
    <section class="jumbotron">
        It is all based on NodeJS, ExpressJS, MongoDB, and Mongoose
    </section>
</main>

<% include ./partials/footer.ejs %>
